<article class="card card-product">
    <div class="card-body">
        <div class="row">
            <aside class="col-sm-6">
                <div class="img-wrap"><img src="~/Content/images/s-l500.jpg"></div>
            </aside> <!-- col.// -->
            <article class="col-sm-6">
                @*<h4 class="title">Milcka</h4>*@
                <p class="font-weight-bold h4">Milka Oreo Sandwich Milk Chocolate bar 92g</p>
                <dl class="dlist-align">
                    <dt>Brand:</dt>
                    <dd>Milka</dd>
                </dl>  <!-- item-property-hor .// -->
                <dl class="dlist-align">
                    <dt>Flavor:</dt>
                    <dd>Milk</dd>
                </dl>  <!-- item-property-hor .// -->
                <dl class="dlist-align">
                    <dt>Category:</dt>
                    <dd>Chocolate</dd>

                </dl>  <!-- item-property-hor .// -->
                <dl class="dlist-align">
                    <dt>Price:</dt>
                    <dd class="price">$56</dd>

                </dl>  <!-- item-property-hor .// -->
                <hr />
                <p>
                    <a href="#" class="btn btn-primary"> Buy now </a>
                    <a href="#" class="btn btn-secondary"> Details  </a>
                </p>
            </article> <!-- col.// -->






        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
</article> <!-- card product .// -->
