
@{
    ViewBag.Title = "Create";
    
}
<form method="post">
    <h2>Create Category</h2>
    <label>Name</label>
    <input name="Name" />
    <label>Description</label>
    <input name="Description" />
    <button id="newBtn" type="submit">Save</button>
</form>
<script>
    $("#newBtn").click(function () {

        $.ajax({
            url: "/Category/Create",
        })
            .done(function (response) {
                $("#actionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            });
    });


</script>
