
@{
    ViewBag.Title = "Create";
}
<form method="post">
    <h2>Create Category</h2>
    <label>Name</label>
    <input name="Name" />
    <label>Description</label>
    <input name="Description" />
    <input name"Image" type="file" accept=".png .jpg" />
    <button id="imageUpload" type="submit">Save</button>
</form>
<script>
   $("#imageUpload").change(function () {
		var element = this;
		var formData = new FormData();
		var totalFiles = element.files.length;
		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}
		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage", "Shared")',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
        .done(function (response) {
        	console.log(response);
        	if(response.Success)
        	{
        		$("#ImageURL").val(response.ImageURL);
        		$("#categoryImage").attr("src", response.ImageURL);
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});


</script>
