
@{
    ViewBag.Title = "Create";
}
<form method="post">
    <h2>Create Category</h2>
    <label>Name</label>
    <input name="Name"/>
    <label>Description</label>
    <input name="Description" />
    <button type="submit">Save</button>
</form>
