@model List<EShop.Entities.Category>
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

@if (Model.Count == 0)
{
    <h1 style="color:red">No match</h1>
}
else
{
    <h1>Category Name:</h1>
    foreach (var item in Model)
    {



        <nav> @item.Name </nav>


    }
}