@model List<EShop.Entities.Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>



<form id="createProduct">
    <label>Category</label>
    <select name="CategoryID">

        @foreach (var category in Model)
        {

            <option value="@category.ID">@category.Name</option>
        }

    </select>

    <label>Name</label>
    <input name="Name" />
    <label>Description</label>
    <input name="Description" />
    <label>Price</label>
    <input name="Price" />
    <button id="saveBtn" type="button">Save</button>


    <input name"ImageURL" type="hidden" />
    <input id="imageUpload" name="Image" type="file" accept=".png, .jpg">
    <div class="thumb">
        <img id="productImage" />
    </div>
</form>



<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: "POST",
            url: '/Product/Create',
            data: $("#createProduct").serialize()

        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                //$(#ImageURL).val(response.html)

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

            });
    });

</script>