@model EShop.Web.ViewModels.ProductViewModel

@if (Model != null && Model.Product != null)
{
    var defaultImg = "/Content/images/default-image_493.png";
    var imageURL = string.IsNullOrEmpty(Model.Product.ImageURL) ? defaultImg : Model.Product.ImageURL;

    <article class="card card-product">

        <div class="card-body">
            <div class="row">
                <aside class="col-sm-6">
                    <div class="img-wrap"><img alt="Image" src="@imageURL" /></div>

                </aside> <!-- col.// -->
                <article class="col-sm-6">
                    <h4 class="title">@Model.Product.Name</h4>
                    <p class="font-weight-bold h4"></p>
                    <dl class="dlist-align">
                        <dt>Brand:</dt>
                        <dd>Milka</dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="dlist-align">
                        <dt>Flavor:</dt>
                        <dd>Milk</dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="dlist-align">
                        <dt>Category:</dt>
                        <dd></dd>

                    </dl>  <!-- item-property-hor .// -->
                    <dl class="dlist-align">
                        <dt>Price:</dt>
                        <dd class="price">$</dd>

                    </dl>  <!-- item-property-hor .// -->
                    <hr />
                    <p>
                        <a href="#" class="btn btn-primary"> Buy now </a>
                        <a href="@Url.Action("Index","Home")" class="btn btn-primary"> Back to list </a>
                    </p>
                </article> <!-- col.// -->






            </div> <!-- row.// -->
        </div> <!-- card-body .// -->
    </article> <!-- card product .// -->
    <article class="card mt-3">
        <div class="card-body">
            <h4>Detail overview</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteurididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                te
            </p>
        </div> <!-- card-body.// -->
    </article> <!-- card.// -->
    <br />
    <h4>Same products of this category</h4>
    Html.RenderAction("Products", "Widgets", new { isLatestProducts = false, CategoryID = Model.Product.Category.ID });

}