
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
<script src="~/Content/jquery.cookies.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div id="tableContainer">
    @{
        Html.RenderAction("ProductTable");
        //Html.RenderAction("Create");
    }
</div>
<div id="actionContainer">

</div>
<script src="~/Content/jquery.cookies.js"></script>
